span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

strong {font-weight: bold;}
em {font-style: italic;}

@font-face {
    font-family: 'OSPDIN';
    src: url('/css/fonts/OSP-DIN-webfont.eot');
    src: url('/css/fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/OSP-DIN-webfont.woff') format('woff'),
         url('/css/fonts/OSP-DIN-webfont.ttf') format('truetype'),
         url('/css/fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;

}

.ospdin {font: 60px/68px 'OSPDIN', Arial, sans-serif;letter-spacing: 0;}



body {
	margin: 0 auto;
	background: url(/images/body_background.png);
	font-family: 'helvetica neue', helvetica, verdana;
	font-size: 16px;
	line-height: 1.5;
}

.photostream {
	height: 178px;
	background: url(/images/photostream.jpg) repeat-x center;
}

.bluestripes {
	height: 309px;
	background: url(/images/bluestripes.png) repeat-x;
}

.wrap {
	width: 860px;
	margin: 0 auto;
	margin-top: -405px;
}

.wrap h1 {
	color: #fff;
	font-size: 124px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 5px 5px rgba(0,0,0,.75);
}

form.noformz {text-align: right;}
.because, .but {
	color: #fff;
	font-size: 16px;
	margin-top: 30px;
}

.because h2, .but h2 {
	font-size: 24px; font-weight: bold;
}

.because {
	width: 420px;
	float: left;
}

.but {
	width: 420px;
	float: right;
}

.take {
	clear: both;
	width: 860px;
	display: block;
	text-indent: -9999px;
	height: 108px; 
	background: url(/images/takebackground.png) no-repeat center;
	margin: 0 auto;
	position: absolute;
	margin-top: 264px;
	
}

.head {
	padding-top: 20px;
	overflow: auto;
	height: 475px;
}

p.instructions {
	width: 540px;
	float: left;
	font-weight: bold;
	margin-top: 20px;
}

p.instructions strong {
	color: #a53937;
}

/*.dates {
	width: 256px;
	display: block;
	text-indent: -9999px;
	height: 116px; 
	background: url(/images/datesbackground.png) no-repeat;
	float: right;
}*/

.dates {
	width: 273px;
	display: block;
	text-indent: -9999px;
	height: 132px; 
	background: url(/images/datesbackground2.png) no-repeat;
	float: right;
}

.preface {overflow: auto; margin-left: 20px; margin-right: 20px; margin-bottom: 20px;}

.breakitdown {
	width: 884px;
	height: 17px;
	background: url(/images/breakitdown.png) no-repeat;
	display: block;
	clear: both;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.step {
	clear: both;
	overflow: auto;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #000;
}

.step input.done {
	float: left; margin-left: 68px; margin-top: 22px;
}

.step span.step_number {
	color: #fff;
	font-weight: bold;
	float: left;
	font-size: 30px;
	margin-left: 18px;
	margin-top:3px;
}

.step p.details {width: 670px; float: right; clear: right;}
.step p {margin-bottom: 10px;}
.step h3 {font-size: 16px; font-weight: bold; width: 670px; float: right;}
.step .formz {
	width: 670px; 
	float: right; 
	clear: right;
	background: #b8cfda;
	border-radius: 5px;
	margin-top: 20px;
}

.step .formz .buffer {
	background: #5cb1d9;
	margin: 10px;
	border: 1px solid #fff;
	display: block;
	border-radius: 3px;
	padding: 15px;
	color: #fff;
	padding: 15px 50px;	
}


.buffer p {font-weight: bold; margin-top: 10px; margin-bottom: 10px;}

.buffer .disclosure {font-weight: normal; font-size: 12px;}

.step form input, .step form textarea {
	font-size: 16px;
/*	height: 42px;*/
	padding-top: 11px;
	padding-bottom: 11px;
	border: 0;
	border-radius: 2px;	
	padding-left: 10px;
	display: inline-block;
}

.step form textarea {
	width: 536px;
	height: 100px;
	margin-top: 3px;
}

.step form button, a.btn {
	text-decoration: none;	
	padding-top: 9px;
	padding-bottom: 9px;
	background: #63851b;
	font: 20px 'OSPDIN', Arial, sans-serif;
	border: 0;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 2px;
}

.step input.done {
	background: #dedbd7;
	border-radius: 4px;
	border: 0;
}

.step p a.btn {margin-left: 10px; margin-top: 20px; padding-left: 45px;}
.step a.reddit {background: #d95220 url(/images/redditbackground.png) no-repeat;
		background-position: 6px 6px;}
.step a.fb {background: #3b5998 url(/images/fbbackground.png) no-repeat;
	background-position: 6px 6px;}
a#souvenir {float: right; clear: both;}
.noformz {width: 675px; display: block; float: right; margin-top: 20px;}
.first {background: url(/images/stepcall.png) no-repeat;}
.second {background: url(/images/steptwo.png) no-repeat;}
.third {background: url(/images/stepthree.png) no-repeat;}
.fourth {background: url(/images/stepfour.png) no-repeat;}
.fifth {background: url(/images/stepfive.png) no-repeat;}
.facebooks {background: url(/images/stepfb.png) no-repeat;}
.drop-in {background: url(/images/stepdropin.png) no-repeat;}
.meetings {background: url(/images/stepmeetings.png) no-repeat;}


h4.ospdin {
	margin: 0 auto;
	display: block;
	text-align: center;
	color: #000;
	margin-bottom: 50px;
}

h4.ospdin a {color: #5d5d5d; text-decoration: none;}
.bordertwo {
	width: 100%;
	background: url(http://fightforthefuture.org/images/new/logotwobackground.png) repeat-x;
	clear: both;
	height: 83px;
	overflow: auto;
	margin-top: 20px;
	position: relative; z-index: 4;
}

.bordertwo h5 {
	margin: 0 auto;
	width: 236px;
	height: 40px;
	text-indent: -999px;
	background: url(http://fightforthefuture.org/images/new/logotwo.png) no-repeat;
	margin-top: 20px;
	display: block;
}

.footer {
	background: url(http://fightforthefuture.org/images/new/striped_background.png);
	margin-bottom: 0; 
	padding-bottom: 50px; 
	margin-top: -50px; 
	padding-top: 40px; 
	z-index: 5;
}

a.btn, button {cursor: pointer;}

p.copyleft a {color: orange;}
p.copyleft {font-size: 14px; text-align: center; width: 100%; padding-top: 40px; color: #fff;}

/*Ali's code START*/
.label{ display: block; font-family: Helvetica, arial, sans-serif; font-size: 16px; font-weight: bold; text-align: center; color: black; margin-bottom: 20px;}
.embed{display: inline; width: auto; float: left; margin-right: 15px;}
				.label{display: block; font-family: Helvetica, arial, sans-serif; font-size: 16px; font-weight: bold; text-align: center; color: black; }
				.getit{font-family: Helvetica, arial, sans-serif; font-size: 16px; font-weight: bold; text-align: center; color: #D95220;}
				
#tag{
width: 67px;
height: 228px;
position:fixed;
left: 0px;
z-index: 500;
margin-top: 320px;
background: url('/images/fftf_tag.png');
}
/*Ali's code END*/

#errors {padding: 3px; background: red; text-align: center;}


a.fb_cover_download_button {
	margin-top: 20px;
	clear: both; 
	float: right;
	text-indent: -9999px;
	display: block;
	width: 668px;
	background: url(/images/fb_cover_download_button.png) no-repeat;
	height: 350px;
	border-radius: 5px;
}

a.fb_cover_download_button:hover {
	background: url(/images/fb_cover_download_button.png) no-repeat;
	background-position:  -670px 0px;
}


a.cispa-drop-in-fftf {
	margin-top: 20px;
	clear: both; 
	float: right;
	text-indent: -9999px;
	display: block;
	width: 668px;
	background: url(/images/cispa-drop-in-fftf.png) no-repeat;
	height: 231px;
	border-radius: 5px;
}


a.cispa-drop-in-fftf:hover {
	background: url(/images/cispa-drop-in-fftf.png) no-repeat;
	background-position:  -670px 0px;
}


.fb_button_large {margin-top: 83px;}